@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Black.ttf') format('truetype');
    font-weight: 900; /* Black weight */
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold; /* Bold weight */
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Light.ttf') format('truetype');
    font-weight: 300; /* Light weight */
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium weight */
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal; /* Regular weight */
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold weight */
    font-style: normal;
}

body {
    width: 360px; /* Fixed width */
    height: 560px; /* Fixed height */
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    color: #333;
}

h2 {
    font-size: 20px;
    color: #666;
}

p {
    font-size: 16px;
    color: #333;
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonText {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}

.button {
    width: 132px;
    height: 36px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    background-color: #0078d7;
    color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

/* Add more global styles as needed */
